.about
  background-color: $white
  position: relative
  max-height: 0
  overflow: hidden
  animation: show 2.5s 2s forwards
  
.container
  padding: rem(50px 20px)
  max-width: rem($max-width)
  margin-left: auto
  margin-right: auto
  position: relative
  opacity: 0
  animation: opacity 1s 2.5s forwards

  @include breakpoint('tablet','up')
    padding: rem(200px 20px)

.about-circle
  content: ''
  display: block
  width: rem(250px) 
  height: rem(250px)
  background-color: $green
  border-radius: 100%
  position: absolute
  z-index: 1
  bottom: 5%
  left: 100%
  
  @include breakpoint('tablet','up')
    width: rem(350px) 
    height: rem(350px)
    right: 5%
    top: 100%
    bottom: auto
    left: auto
  
.about-me
  content: ''
  display: block
  width: rem(250px) 
  height: rem(250px)
  background-image: url(../images/circle-me.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  margin: rem(50px) auto 0
  position: relative
  z-index: 2

  @include breakpoint('tablet','up')
    width: rem(350px) 
    height: rem(350px)
    position: absolute
    top: calc(50% - 175px)
    right: 2.5%
    margin-top: 0

.title
  font-size: rem(24px)
  max-width: rem(390px)
  margin: 0 auto rem(30px)

  @include breakpoint('tablet','up')
    font-size: rem(40px)
    max-width: rem(600px)
    margin-left: 0

.text
  font-size: rem(16px)
  font-weight: $font-light
  max-width: rem(380px)
  margin: 0 auto rem(20px)

  @include breakpoint('tablet','up')
    font-size: rem(20px)
    max-width: rem(590px)
    margin-left: 0

.link
  background-color: $green
  text-decoration: none
  padding: rem(0 4px)
  margin-left: rem(4px)
  color: $black
  position: relative
  overflow: hidden
  display: inline-block
  vertical-align: middle
  transition: all 0.5s ease
  margin-top: rem(-3px)

  span
    position: absolute
    top: rem(0px)
    left: rem(-25px)
    transition: all 0.25s ease

  // @include hover
  //   padding-left: rem(30px)
  
  //   span
  //     left: rem(5px)

  @keyframes show
    100%
      max-height: 200vh

  @keyframes opacity
    100%
      opacity: 1
