.portfolio
  background-color: $blue
  padding: rem(50px 20px 20px)
  position: relative
  z-index: 10
  opacity: 0
  animation: opacity 1s 3s forwards

  @include breakpoint('mobile','up')
    padding-top: rem(100px)
    padding-bottom: rem(70px)

  @include breakpoint('tablet','up')
    padding-top: rem(200px)
    padding-bottom: rem(140px)

.grid 
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  width: 100%
  max-width: $max-width*1.5
  margin-left: auto
  margin-right: auto

  @include breakpoint('tablet','up')
    flex-direction: row

.item 
  width: 100%
  max-width: rem(475px)
  margin: 0 auto rem(50px)
  color: $white
  background-color: $white
  overflow: hidden
  padding: rem(0px)
  position: relative
  z-index: 3
  display: flex
  flex-direction: column
  transition: transform 500ms ease

  @include breakpoint('tablet','up')
    width: calc(50% - 80px)
    margin-left: rem(40px)
    margin-right: rem(40px)
    margin-bottom: rem(80px)
    
  @include breakpoint('desktop','up')
    width: calc(33.33% - 80px)
    
.name
  font-size: rem(16px)
  line-height: 1.2
  font-weight: $font-normal
  
  @include breakpoint('tablet','up')
    font-size: rem(18px)
  
  a 
    @include link(lighten($blue, 45%))
    color: $black

.description
  width: 100%
  height: 100%
  padding: rem(20px)
  display: flex
  flex-direction: column
  
.video
  width: 100%
  display: block
  position: relative
  z-index: 2
  transition: transform 500ms ease
  border-bottom: rem(5px) solid $blue

.text
  color: $black
  font-size: rem(14px)
  font-weight: $font-light
  line-height: 1.3
  word-break: break-word
  margin-top: rem(10px)
  margin-bottom: rem(20px)

  @include breakpoint('tablet','up')
    font-size: rem(16px)

.adward 
  color: $black
  font-size: rem(12px)
  font-weight: $font-normal
  line-height: 1.3
  word-break: break-word
  margin-top: auto
  display: flex
  flex-direction: row
  align-items: center

  img 
    max-width: rem(20px)
    height: auto
    margin-right: rem(5px)

@keyframes opacity
  100%
    opacity: 1
